<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Employee Management System</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="bg-blue-300">

	<div th:switch="${users}" class="container mx-auto flex flex-col my-20">

		<th:block th:if="${#lists.isEmpty(users)}">
			<div>
				<h2>No users yet!</h2>
			</div>
		</th:block>

		<th:block th:if="${not #lists.isEmpty(users)}">

			<div class="text-center mb-4 w-80 mx-auto">
				<h1 class="rounded-full bg-blue-100 py-4 text-violet-600 text-3xl font-bold ring-4 ring-violet-600">Users List</h1>
			</div>
			<table class="border-separate border-spacing-3 border-2 border-violet-600 bg-blue-100">
				<thead>
					<tr class="bg-slate-300">
						<th class="border border-violet-600 px-20 py-1">User Name</th>
						<th class="border border-violet-600 px-20">User Email</th>
						<th class="border border-violet-600 px-20">Update</th>
						<th class="border border-violet-600 px-20">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.name}"
							class="border border-violet-600 text-center font-mono text-lg hover:font-bold hover:text-xl cursor-pointer">
						</td>
						<td th:text="${user.email}"
							class="border border-violet-600 text-center font-mono text-lg hover:font-bold hover:text-xl cursor-pointer">
						</td>
						<td class="text-center">
							<button class="text-white font-bold py-2 px-20 rounded ease-in-out delay-150 bg-green-400
								hover:-translate-y-1 hover:scale-110 hover:bg-green-600 hover:duration-300"><a th:href="@{/edit/{id}(id=${user.id})}">Update</a></button>
						</td>
						<td class="text-center">
							<button class="text-white font-bold py-2 px-20 rounded ease-in-out delay-150 bg-red-400
								hover:-translate-y-1 hover:scale-110 hover:bg-red-600 hover:duration-300"><a
									th:href="@{/delete/{id}(id=${user.id})}">Delete</a></button>
						</td>
					</tr>
				</tbody>
			</table>
		</th:block>
		<div class="text-center mt-8">
			<button class="text-white font-bold py-2 px-20 rounded ease-in-out delay-150 bg-violet-600
				hover:-translate-y-1 hover:scale-110 hover:duration-300"><a th:href="@{/signup}">Add User</a></button>
		</div>
	</div>




</body>

</html>