<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <div th:switch="${users}" class="container my-2">

        <th:block th:if="${#lists.isEmpty(users)}">
        <div class="text-center">
            <h2>No users yet!</h2>
            </div>
        </th:block>

        <th:block th:if="${not #lists.isEmpty(users)}">
            
<div class="text-center">
            <h1>Users List</h1>
            </div>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>

                        <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary">Update</a></td>
                        <td>
                            <a href="#" id="delete" class="btn btn-danger" data-toggle="modal"
                                data-target="#deleteConfirmationModal" th:attr="data-userid=${user.id}">Delete</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </th:block>

        <!-- ... Votre code existant ... -->

        <!-- Modal for Delete Confirmation -->
        <div class="modal" id="deleteConfirmationModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation de suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer cet élément ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <a href="#" class="btn btn-danger" onclick="confirmDelete()">Confirmer la suppression</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
<div class="text-center">
    <a th:href="@{/signup}" class="btn btn-primary btn-sm mx-auto">Add User</a>
</div>

    <!-- JavaScript pour mettre à jour le lien de suppression avec l'ID du user -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function confirmDelete() {
            var userIdToDelete = parseInt(document.getElementById('delete').getAttribute('data-userid'), 10);
            var deleteLink = "/delete/" + userIdToDelete;
            window.location.href = deleteLink;
        }
        /*]]>*/
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
