<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>User Management System</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="bg-blue-300">
	<div class="container mx-auto flex flex-col my-20">
		<div class="text-center mb-4 w-80 mx-auto">
			<h1 class="rounded-full bg-blue-100 py-4 text-violet-600 text-3xl font-bold ring-4 ring-violet-600">Add User
			</h1>
		</div>

		<form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="POST"class="my-20 w-500 mx-auto box-border p-10 ring-2 ring-violet-600 bg-blue-100">

			<input type="text" th:field="*{name}" placeholder="User Name"
				class="border border-black rounded-md py-2 px-4 focus:outline-none focus:border-violet-600">


			<input type="text" th:field="*{email}" placeholder="User Email"
				class="mr-40 border border-black rounded-md py-2 px-4 focus:outline-none focus:border-violet-600">


			<button class="text-white font-bold py-2 px-20 rounded ease-in-out delay-150 bg-violet-600
								hover:-translate-y-1 hover:scale-110 hover:duration-300"><input type="submit"
					value="Update User"></button>
		</form>

		<div class="text-center mb-4 w-80 mx-auto">
			<button class="text-white font-bold py-2 px-20 rounded-full ease-in-out delay-150 bg-violet-600
								hover:-translate-y-1 hover:scale-110 hover:duration-300"><a th:href="@{/}"> Back to Users
					List</a></button>
		</div>
	</div>
</body>

</html>